body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #002b55;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Banner */
.hero {
 background: url("img/logo-places.png") center/cover no-repeat;
    color: #0056d6;
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #ffcc00;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Seções */
.sobre, .servicos, .contato {
    padding: 60px 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
}

/* Cards de serviços */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card {
    width: 280px;
    padding: 20px;
    background: #002b55;
    color: white;
    border-radius: 10px;
}

/* Formulário */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    background: #002b55;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    background: #002b55;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
